[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "anthropic>=0.75.0",
    "flask>=3.1.2",
    "flask-cors>=6.0.1",
    "google-genai>=1.52.0",
    "openai>=2.8.1",
]
